body{background-image:url('../Assests/bgr.png'); background-repeat:no-repeat; background position:center; background-size:100%;}
img{border-radius: 8px;}
h3{text-align:center;}
fieldset{background-color:pink;}

